:root {
  --md-sys-color-primary: #4285F4;
  --md-sys-color-success: #4CAF50;
  --md-sys-color-warning: #4CAF50;
  --md-sys-color-error: #FF5252;
  --md-sys-border-color: #FF5252;
  --md-outlined-button-outline-color: #79747E;
}

.main {
  width: 500px;
  height: 1200px;
  border: 1px solid var(--md-sys-color-error);
}

.header {
  height: 53px;
  background-color: var(--md-sys-color-primary);
}

.stepper {
  position: relative;
  padding: 16px;
  border: 0px solid var(--md-outlined-button-outline-color);
  border-bottom-width: 1px;
  transition: height 0.3s ease-in-out;
}

.stepper--open {
  height: 200px;
}

.stepper--closed {
  height: calc(16px + 24px + 16px);
}

.stepper .action {
  position: absolute;
  top: 8px;
  right: 8px;
}

.toggle {
  transition: transform 0.3s ease-in-out;
}

.toggle--open {
  transform: rotate(180deg);
}

.toggle--closed {
  transform: rotate(0deg);
}

.title {
  display: flex;
  gap: 8px;
}

.title .index {
  background-color: var(--md-sys-color-primary);
  text-align: center;
  color: white;
  width: 25px;
  border-radius: 50%;
  line-height: 24px;
}

.title .icon {
  color: var(--md-sys-color-success);
}
