:root {
  --md-sys-color-primary: #4285F4;
  --md-sys-color-success: #4CAF50;
  --md-sys-color-error: #FF5252;
  --md-outlined-card-container-color: rgb(255, 255, 255);
  --md-sys-color-on-surface: rgba(0, 0, 0, 0.87);
}

body {
  width: 430px; /* APAGAR ESSA BOMBA */
  max-width: 430px; /* APAGAR ESSA BOMBA */
}

.main {
  height: 1000px;  /* APAGAR ESSA BOMBA */
  color: var(--md-sys-color-on-surface);
}

.main__header {
  height: 53px;
  background-color: var(--md-sys-color-primary);
}

.stepper {
  position: relative;
  padding: 16px;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  margin-top: -1px;
}

.stepper--open {
  height: calc-size(max-content, size);
}

.stepper--close {
  height: 56px;
}

.stepper__title {
  display: flex;
  gap: 8px;
}

.stepper__index {
  background-color: var(--md-sys-color-primary);
  text-align: center;
  color: white;
  width: 25px;
  border-radius: 50%;
  line-height: 24px;
}

.stepper__index--success {
  background-color: var(--md-sys-color-success);
}

.stepper__text--success {
  color: var(--md-sys-color-success);
}

.stepper__icon {
  color: var(--md-sys-color-success);
}

.stepper__action {
  position: absolute;
  top: 8px;
  right: 8px;
}

.stepper__toggle {
  transition: transform 0.3s ease-in-out;
}

.stepper__toggle--open {
  transform: rotate(180deg);
}

.stepper__toggle--closed {
  transform: rotate(0deg);
}

.stepper__content--hidden {
  display: none;
}

.stepper__content--visible {
  display: block;
}

.stepper__subtitle {
  margin-top: 12px;
  opacity: 0.6;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
